.main{
  display: flex;
  justify-content: center;
  align-items:first baseline;
  height: 100vh;
  color: cadetblue
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main-header{
  font-family: 'Montserrat', sans-serif;
}